<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/favicon.ico" rel="icon">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <title>Pholo</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"
    type="text/css">
    <link href=
    'https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
    <link href=
    'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>
</head>

<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button aria-expanded="false" class=
                    "navbar-toggle collapsed" data-target=
                    "#bs-example-navbar-collapse-1" data-toggle="collapse"
                    type="button"><span class="sr-only">Toggle
                    navigation</span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> <span class=
                    "icon-bar"></span></button> <a class="navbar-brand" href=
                    "/index">Pholo</a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="navbar navbar-default navbar-fixed-top" id="mainNav">
                <div class="container-fluid">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-target=
                        "#bs-example-navbar-collapse-1" data-toggle="collapse"
                        type="button"><span class="sr-only">Toggle
                        navigation</span> Menu <i class=
                        "fa fa-bars"></i></button> <a class=
                        "navbar-brand page-scroll" href="/index"><img src=
                        "img/P.png"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id=
                    "bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="navbar-form" id="search" name=
                                "search" role="search">
                                    <div class="form-group">
                                        <!--<input class="form-control" id="search"
                                        placeholder="Where to?" type="text"> 
                                        <button type="submit" class="btn btn-default" id="searchButton">Search</button>-->
                                         <a class="btn btn-default" href=
                                        "/searchResultTheme" id=
                                        "searchButton" role="button">Trending Information</a>
                                    </div>
                                </form>
                            </li>
                            <li>
                                <a aria-expanded="false" aria-haspopup="true"
                                class="dropdown-toggle" data-toggle="dropdown"
                                href="#" role="button">Submit<span class=
                                "caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/addLocation">New
                                        Location</a>
                                    </li>
                                    <li>
                                        <a href="/addPhoto">New Photo</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a aria-expanded="false" aria-haspopup="true"
                                class="dropdown-toggle" data-toggle="dropdown"
                                href="#" role="button">Settings <span class=
                                "caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/account">Account</a>
                                    </li>
                                    <li>
                                        <a href="/help">Help</a>
                                    </li>
                                    <li class="divider" role="separator"></li>
                                    <li>
                                        <a href="/index">Logout</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </nav>
    </div><!-- /.container-fluid -->

    <!-- END HEADER -->


    <!-- showing what the user is current seraching -->
    <br>
    <div class="search-result">
        <center>
            <h1>Trending Information</h1>
        </center>
        <br>
    </div><!-- Showing result by what order, filter options -->

    <center>
        <div class="row">
            <div class="container-fluid">
                <div class="col-sm-6">
                    <div class="btn-group">
                        <button aria-expanded="false" aria-haspopup="true"
                        class="btn btn-default dropdown-toggle custom"
                        data-toggle="dropdown" type="button">Sort By:
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/searchResultThemeMap">Likes</a>
                            </li>
                            <li>
                                <a href="/searchResultThemeMap">Comments</a>
                            </li>
                            <!--
                            <li>
                                <a href="#distanceFunction">Distance</a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="col-sm-6">
                        <div class="btn-group">
                            <button aria-expanded="false" aria-haspopup="true"
                            class="btn btn-default dropdown-toggle custom"
                            data-toggle="dropdown" type="button">View Mode:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/searchResultTheme">Grid View</a>
                                </li>
                                <li>
                                    <a href="/searchResultThemeMap">Map View</a>
                                </li>
                                <!--                                
                                <li class="divider" role="separator"></li>
                                <li>
                                    <a href="#hybridFunction">Hybrid View</a>
                                </li>
                                -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
    <br>
    <br>
    <br>
    <br>

    <div id="map"></div>
    <center>
        <script>
          // Note: This example requires that you consent to location sharing when
          // prompted by your browser. If you see the error "The Geolocation service
          // failed.", it means you probably did not give permission for the browser to
          // locate you.

          function initMap() {
            var infowindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 39.828200, lng: -98.579500},
              zoom: 5
            });
            var infoWindow = new google.maps.InfoWindow({map: map});

            google.maps.event.addListener(map, 'click', function() {
              infowindow.close();
            });

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };

                // infoWindow.setPosition(pos);
                // infoWindow.setContent('You are here.');
                map.setCenter(pos);
                map.setZoom(13);

                // https://gist.github.com/m-chuang/b65045add0fbf8e537b654a7d383940f
                map.data.loadGeoJson('https://gist.githubusercontent.com/m-chuang/b65045add0fbf8e537b654a7d383940f/raw/6f708ff8ba881818982160812083e12fc3f9fc0d/map.geojson');

                 map.data.addListener('click', function(event) {
                   infowindow.setContent(event.feature.getProperty('name')+"<br>"+event.feature.getProperty('description'));
                   infowindow.setPosition(event.latLng);
                   infowindow.setOptions({pixelOffset: new google.maps.Size(0,-34)});
                   infowindow.open(map);
                });

                google.maps.event.addDomListener(window, 'load', initialize);

              }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
              });
            } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
            }
          }

          function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed. Make sure you have an HTTPS connection and allow our site to use your location.' :
                                  'Error: Your browser doesn\'t support geolocation.');
          }
        </script>
    </center>
    <script async defer src=
    "https://maps.googleapis.com/maps/api/js?key=AIzaSyCR_3sYLANIJJ0IlZSAMp-a9PYWbCCCadg&callback=initMap">
    </script>


    <!-- BEGIN FOOTER -->

    <br>
    <br>
        <footer class="footer">
            <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h2 class="section-heading">Let's get in touch!</h2><legend></legend>
                            <p>Send us a message or reach us on social media.</p><br>
                        </div><br>
                        <div class="col-lg-2 col-lg-offset-2 text-center" style="color:black">
                            <i class="fa fa-phone fa-3x sr-contact"></i>
                            <p>(858) 534-2230</p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="mailto:teampholo@gmail.com"><i class="fa fa-envelope-o fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="mailto:teampholo@gmail.com" style="color:black">teampholo@gmail.com</a></p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="http://linkedin.com"><i class="fa fa-linkedin fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="http://linkedin.com" style="color:black">linkedin.com</a></p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="http://facebook.com"><i class="fa fa-facebook fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="http://facebook.com" style="color:black">facebook.com</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <center>
                <br>
                © 2016 Pholo Inc.<br>
                <br>
            </center>
        </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js">
    </script>
</body>
</html>